<a href="https://colab.research.google.com/github/ManuelLopezParedes/intro_dataframe/blob/master/apuntes/clase4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importamos librerias
import pandas as pd
import numpy as np

# Muestreo de DF

In [ ]:
df = pd.read_csv("empleados.csv")

In [ ]:
df

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [ ]:
df.describe()

             Salario  bonificación %
count    1000.000000     1000.000000
mean    90662.181000       10.207555
std     32923.693342        5.528481
min     35013.000000        1.015000
25%     62613.000000        5.401750
50%     90428.000000        9.838500
75%    118740.250000       14.838000
max    149908.000000       19.944000

# Filtrar informacion de u DF

In [ ]:
df['Hora del último inicio de sesión'] = pd.to_datetime(df['Hora del último inicio de sesión'],format="%H:%M %p").dt.time

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Nombre                            933 non-null    object
 1   Sexo                              855 non-null    object
 2   Fecha de inicio                   1000 non-null   object
 3   Hora del último inicio de sesión  1000 non-null   object
 4   Salario                           1000 non-null   int64
 5   bonificación %                    1000 non-null   float64
 6   Alta dirección                    933 non-null    object
 7   Equipo                            957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [ ]:
df['Alta dirección'] = df['Alta dirección'].astype("bool")
df['Alta dirección']

0       True
1       True
2      False
3       True
4       True
       ...
995    False
996    False
997    False
998    False
999     True
Name: Alta dirección, Length: 1000, dtype: bool

In [ ]:
df['Sexo'] = df['Sexo'].astype("category")
df['Sexo']

0        Male
1        Male
2      Female
3        Male
4        Male
        ...
995       NaN
996      Male
997      Male
998      Male
999      Male
Name: Sexo, Length: 1000, dtype: category
Categories (2, object): ['Female', 'Male']

#Filtrado por serie
obtener los registros que son del equipo de marketing

In [ ]:
resultado =df['Equipo'] == 'Marketing'
# si imprimimos resultado nos dara una lista de todos los trabajadores
resultado

0       True
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Equipo, Length: 1000, dtype: bool

In [ ]:
# Para mostrar los registros usamos el siguiente codigo
df[resultado]
# ó
df[df['Equipo']=='Marketing']

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
0,Douglas,Male,8/6/1993,12:42:00,97308,6.945,True,Marketing
21,Matthew,Male,9/5/1995,02:12:00,100612,13.645,False,Marketing
26,Craig,Male,2/27/2000,07:45:00,37598,7.757,True,Marketing
43,Marilyn,Female,12/7/1980,03:16:00,73524,5.207,True,Marketing
62,NaN,Female,6/12/2007,05:25:00,58112,19.414,True,Marketing
...,...,...,...,...,...,...,...,...
942,Lori,Female,11/20/2015,01:15:00,75498,6.537,True,Marketing
947,NaN,Male,7/30/2012,03:07:00,107351,5.329,True,Marketing
986,Donna,Female,11/26/1982,07:04:00,82871,17.999,False,Marketing
991,Rose,Female,8/25/2002,05:12:00,134505,11.051,True,Marketing
994,George,Male,6/21/2013,05:47:00,98874,4.479,True,Marketing

### Filtrar solo a los que ganen mas de 45000

In [ ]:
df[df['Salario']>45000]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
0,Douglas,Male,8/6/1993,12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,06:53:00,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17:00,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,01:00:00,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,04:47:00,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
994,George,Male,6/21/2013,05:47:00,98874,4.479,True,Marketing
995,Henry,NaN,11/23/2014,06:09:00,132483,16.655,False,Distribution
997,Russell,Male,5/20/2013,12:39:00,96914,1.421,False,Product
998,Larry,Male,4/20/2013,04:45:00,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,06:24:00,129949,10.169,True,Sales

### Filtar los que se contrataron antes de 2/27/2000

In [ ]:
df[pd.to_datetime(df['Fecha de inicio']) < pd.to_datetime('2000-02-27')]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
0,Douglas,Male,8/6/1993,12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,06:53:00,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17:00,130590,11.858,False,Finance
4,Larry,Male,1/24/1998,04:47:00,101004,1.389,True,Client Services
5,Dennis,Male,4/18/1987,01:35:00,115163,10.125,False,Legal
...,...,...,...,...,...,...,...,...
986,Donna,Female,11/26/1982,07:04:00,82871,17.999,False,Marketing
989,Justin,NaN,2/10/1991,04:58:00,38344,3.794,False,Legal
990,Robin,Female,7/24/1987,01:35:00,100765,10.982,True,Client Services
993,Tina,Female,5/15/1997,03:53:00,56450,19.040,True,Engineering
996,Phillip,Male,1/31/1984,06:30:00,42392,19.675,False,Finance

### Empleados que hayan iniciado sesion antes de las 7:00AM

In [ ]:
df[df['Hora del último inicio de sesión'] < pd.to_datetime('07:00:00').time()]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
1,Thomas,Male,3/31/1996,06:53:00,61933,4.170,True,NaN
3,Jerry,Male,3/4/2005,01:00:00,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,04:47:00,101004,1.389,True,Client Services
5,Dennis,Male,4/18/1987,01:35:00,115163,10.125,False,Legal
6,Ruby,Female,8/17/1987,04:20:00,65476,10.012,True,Product
...,...,...,...,...,...,...,...,...
994,George,Male,6/21/2013,05:47:00,98874,4.479,True,Marketing
995,Henry,NaN,11/23/2014,06:09:00,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,06:30:00,42392,19.675,False,Finance
998,Larry,Male,4/20/2013,04:45:00,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,06:24:00,129949,10.169,True,Sales

### Filtrar los valores numericos mas altos o mas bajos

In [ ]:
# top 3 salarios
df.nlargest(n=3,columns="Salario")

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
644,Katherine,Female,8/13/1996,12:21:00,149908,18.912,False,Finance
429,Rose,Female,5/28/2015,08:40:00,149903,5.630,False,Human Resources
828,Cynthia,Female,7/12/2006,08:55:00,149684,7.864,False,Product

In [ ]:
# top 5 salarios mas bajos
df.nsmallest(n=5,columns="Salario")

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
576,Michael,Male,7/30/1993,05:35:00,35013,14.879,False,Product
238,Kevin,Male,3/25/1982,07:31:00,35061,5.128,False,Legal
82,Steven,Male,3/30/1980,09:20:00,35095,8.379,True,Client Services
63,Matthew,Male,1/2/2013,10:33:00,35203,18.040,False,Human Resources
650,Cynthia,Female,7/5/1986,01:24:00,35381,11.749,False,Finance

# Operadores booleanos en filtrado de DF

## AND &

In [ ]:
gender =df['Sexo'] == "Female"
depto = df['Equipo'] =="Finance"

df[gender & depto]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
2,Maria,Female,4/23/1993,11:17:00,130590,11.858,False,Finance
7,NaN,Female,7/20/2015,10:43:00,45906,11.598,True,Finance
14,Kimberly,Female,1/14/1999,07:13:00,41426,14.543,True,Finance
67,Rachel,Female,8/16/1999,06:53:00,51178,9.735,True,Finance
84,Doris,Female,8/20/2004,05:51:00,83072,7.511,False,Finance
96,Cynthia,Female,3/21/1994,08:34:00,142321,1.737,False,Finance
100,Melissa,Female,6/21/2005,06:33:00,48109,14.995,False,Finance
103,Phyllis,Female,10/11/1996,09:30:00,136984,8.932,True,Finance
105,Kathy,Female,3/9/1996,04:33:00,91712,8.567,False,Finance
142,Elizabeth,Female,10/9/2003,05:53:00,146129,5.687,False,Finance
160,Kathy,Female,3/18/2000,07:26:00,149563,16.991,True,Finance
172,Sara,Female,9/23/1991,06:17:00,97058,9.402,False,Finance
179,Jessica,Female,10/23/1995,05:53:00,68759,19.343,True,Finance
190,Carol,Female,3/19/1996,03:39:00,57783,9.129,False,Finance
226,Kathy,Female,4/19/1995,12:46:00,50905,9.404,True,Finance
268,Irene,Female,3/3/1982,08:26:00,56526,5.810,True,Finance
276,Christine,Female,7/3/1989,04:01:00,94345,11.996,False,Finance
399,Kathryn,Female,6/9/1988,09:29:00,86439,7.799,False,Finance
405,Sharon,Female,3/9/2014,04:39:00,91522,7.564,False,Finance
418,Julia,Female,3/2/1982,12:52:00,36403,2.664,True,Finance
425,Alice,Female,5/2/1986,01:50:00,51395,2.378,True,Finance
436,Kathryn,Female,8/29/2007,06:10:00,53061,11.864,True,Finance
442,Julie,Female,4/23/1998,05:52:00,73437,2.518,True,Finance
485,Ashley,Female,8/15/1997,09:48:00,142415,1.985,True,Finance
526,Barbara,Female,3/22/2004,08:11:00,144677,8.696,False,Finance
540,NaN,Female,12/2/2009,03:30:00,84746,4.820,True,Finance
547,Evelyn,Female,9/22/1998,07:55:00,51525,10.366,False,Finance
549,Sara,Female,2/25/1980,10:50:00,75484,3.186,False,Finance
595,Nancy,Female,5/7/1985,10:20:00,121006,3.512,True,Finance
644,Katherine,Female,8/13/1996,12:21:00,149908,18.912,False,Finance
646,Elizabeth,Female,2/21/2010,07:02:00,79145,19.780,False,Finance
649,Ruth,Female,2/17/2004,05:38:00,59969,14.064,True,Finance
650,Cynthia,Female,7/5/1986,01:24:00,35381,11.749,False,Finance
691,Joan,Female,10/2/2007,02:53:00,120941,3.694,True,Finance
702,Debra,Female,3/17/2011,01:12:00,84693,6.976,True,Finance
731,Ann,Female,7/16/2001,09:27:00,118431,12.772,True,Finance
775,Rose,Female,11/3/1999,09:06:00,75181,6.060,True,Finance
807,Mary,Female,11/6/2011,08:32:00,115057,2.089,False,Finance
836,Carolyn,Female,3/17/2004,06:38:00,118037,13.492,False,Finance
884,Lisa,Female,10/17/2003,01:42:00,73706,18.530,False,Finance
889,Margaret,Female,1/4/2001,03:07:00,126924,1.552,True,Finance
905,Alice,Female,2/9/2013,12:49:00,121250,4.363,True,Finance
907,Elizabeth,Female,7/27/1998,11:12:00,137144,10.081,False,Finance
987,Gloria,Female,12/8/2014,05:08:00,136709,10.331,True,Finance

In [ ]:
# Filtar a los empleados que sean del equipo legal y que su bonificacion sea menor a 6%
depto = df['Equipo']=="Legal"
bonificacion = df['bonificación %'] < 6

df[depto & bonificacion]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
20,Lois,NaN,4/22/1995,07:18:00,64714,4.934,True,Legal
27,Scott,NaN,7/11/1991,06:58:00,122367,5.218,False,Legal
93,Virginia,NaN,5/7/1994,05:58:00,111858,1.601,True,Legal
106,Paul,Male,8/4/1993,07:25:00,42146,3.046,False,Legal
147,Philip,Male,7/17/2008,01:30:00,89227,3.996,False,Legal
193,Rebecca,Female,2/18/1995,06:50:00,109259,4.443,True,Legal
221,Gregory,Male,1/29/2000,06:01:00,109564,3.845,False,Legal
238,Kevin,Male,3/25/1982,07:31:00,35061,5.128,False,Legal
256,Debra,Female,3/13/1998,11:16:00,48696,4.750,False,Legal
295,Jesse,Male,3/2/1981,07:26:00,79582,3.873,False,Legal
308,Cheryl,Female,9/8/2009,10:16:00,81308,2.196,True,Legal
310,Harold,Male,2/20/1990,11:00:00,66775,2.158,True,Legal
354,Elizabeth,Female,11/10/2005,04:56:00,106406,1.782,True,Legal
465,Helen,Female,10/31/1997,02:43:00,52875,4.188,False,Legal
579,Harold,Male,10/18/2010,08:45:00,65673,1.187,True,Legal
630,Michael,Male,7/13/1988,01:48:00,47079,2.617,False,Legal
708,Steve,Male,1/11/2002,09:17:00,51821,1.197,True,Legal
754,Lisa,Female,4/11/2007,01:04:00,128042,2.030,True,Legal
763,Jacqueline,Female,7/27/2008,12:08:00,125298,3.019,True,Legal
929,Theresa,Female,4/27/2001,09:17:00,75661,1.079,True,Legal
961,Antonio,NaN,6/18/1989,09:37:00,103050,3.050,False,Legal
976,Denise,Female,10/19/1992,05:42:00,137954,4.195,True,Legal
985,Stephen,NaN,7/10/1983,08:10:00,85668,1.909,False,Legal
989,Justin,NaN,2/10/1991,04:58:00,38344,3.794,False,Legal

## OR |

In [ ]:
# filtrar a los empleados hombres o que son del equipo producto o que ganen < 45000
sexo = df['Sexo'] == "Hombre"
depto = df['Equipo'] == "Product"
salario = df['Salario'] < 45000

df[sexo | depto | salario]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
6,Ruby,Female,8/17/1987,04:20:00,65476,10.012,True,Product
14,Kimberly,Female,1/14/1999,07:13:00,41426,14.543,True,Finance
15,Lillian,Female,6/5/2016,06:09:00,59414,1.256,False,Product
17,Shawn,Male,12/7/1986,07:45:00,111737,6.414,False,Product
19,Donna,Female,7/22/2010,03:48:00,81014,1.894,False,Product
...,...,...,...,...,...,...,...,...
979,Ernest,Male,7/20/2013,06:41:00,142935,13.198,True,Product
984,Maria,Female,10/15/2011,04:53:00,43455,13.040,False,Engineering
989,Justin,NaN,2/10/1991,04:58:00,38344,3.794,False,Legal
996,Phillip,Male,1/31/1984,06:30:00,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39:00,96914,1.421,False,Product

In [ ]:
df[((df['Sexo'] == 'Female') & ((df['Equipo'] == 'Sales') | (df['Equipo'] == 'Legal')))]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
11,Julie,Female,10/26/1997,03:19:00,102508,12.637,True,Legal
35,Theresa,Female,10/10/2006,01:12:00,85182,16.675,False,Sales
42,Beverly,Female,9/9/1998,08:26:00,121918,15.835,False,Legal
73,Frances,Female,4/4/1999,04:19:00,90582,4.709,True,Sales
78,Robin,Female,6/4/1983,03:15:00,114797,5.965,True,Sales
...,...,...,...,...,...,...,...,...
929,Theresa,Female,4/27/2001,09:17:00,75661,1.079,True,Legal
955,Sarah,Female,8/17/2014,11:08:00,127118,11.176,False,Legal
963,Ann,Female,9/23/1994,11:15:00,89443,17.940,True,Sales
975,Susan,Female,4/7/1995,10:05:00,92436,12.467,False,Sales
976,Denise,Female,10/19/1992,05:42:00,137954,4.195,True,Legal

## IN

In [ ]:
# a los empleados de nombre Justin, Susan o Ann
df[df['Nombre'].isin(['Justin','Susan','Ann'])]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
248,Justin,Male,12/6/1992,05:58:00,82782,4.366,True,Distribution
360,Susan,Female,9/25/2004,01:30:00,80688,18.892,True,Sales
363,Justin,NaN,4/15/2005,08:43:00,96978,13.865,False,Finance
420,Justin,Male,5/22/1986,06:30:00,121508,19.334,True,Finance
509,Ann,Female,11/4/1984,12:17:00,90719,6.220,False,Business Development
539,Justin,Male,9/6/1999,10:30:00,62454,3.459,True,Sales
568,Susan,Female,4/18/1986,09:31:00,90829,19.142,False,Marketing
592,Justin,Male,5/24/1981,11:15:00,78351,15.221,False,Sales
621,Justin,Male,8/10/1997,11:00:00,128036,18.824,False,Client Services
713,Ann,Female,9/28/1994,05:44:00,79796,9.851,False,Distribution
731,Ann,Female,7/16/2001,09:27:00,118431,12.772,True,Finance
766,Justin,Male,7/25/1991,12:45:00,112975,9.699,False,Human Resources
818,Ann,Female,10/3/1980,01:08:00,96941,10.048,True,Distribution
914,Ann,Female,9/28/2001,06:37:00,71958,5.272,True,Distribution
963,Ann,Female,9/23/1994,11:15:00,89443,17.940,True,Sales
975,Susan,Female,4/7/1995,10:05:00,92436,12.467,False,Sales
989,Justin,NaN,2/10/1991,04:58:00,38344,3.794,False,Legal

In [ ]:
#selecciona a los empleados que ganen 38344 o 71958
df[df['Salario'].isin([38344, 71958])]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
914,Ann,Female,9/28/2001,06:37:00,71958,5.272,True,Distribution
989,Justin,NaN,2/10/1991,04:58:00,38344,3.794,False,Legal

## Emplear operadores logicos con isna y notnull

In [ ]:
df[df["Sexo"].isnull() & df["Equipo"].isnull()]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
91,James,NaN,1/26/2005,11:00:00,128771,8.309,False,NaN
669,Joseph,NaN,3/28/1982,01:05:00,86564,11.879,True,NaN
826,NaN,NaN,8/1/1988,01:35:00,87103,5.665,True,NaN
855,Phillip,NaN,10/20/2003,11:09:00,89700,2.277,True,NaN

## Between

In [ ]:
df[df["Salario"].between(90000,95000)]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
16,Jeremy,Male,9/21/2010,05:56:00,90370,7.369,False,Human Resources
22,Joshua,NaN,3/8/2012,01:58:00,90816,18.816,True,Client Services
48,Clarence,Male,3/26/1996,05:57:00,93581,6.083,True,Business Development
50,Nancy,Female,9/23/2000,08:05:00,94976,13.830,True,Engineering
73,Frances,Female,4/4/1999,04:19:00,90582,4.709,True,Sales
90,Janice,NaN,8/21/1997,05:12:00,91719,11.583,True,Legal
105,Kathy,Female,3/9/1996,04:33:00,91712,8.567,False,Finance
131,Rebecca,Female,7/10/1992,12:23:00,94231,17.517,False,Product
215,Mary,Female,5/30/2009,11:41:00,92544,3.800,False,Client Services
235,Norma,Female,2/11/2015,11:44:00,94393,3.643,True,Engineering
240,Phyllis,NaN,4/21/1984,07:05:00,94088,19.107,False,Distribution
260,Gloria,Female,3/27/2007,01:44:00,90730,2.491,False,Distribution
276,Christine,Female,7/3/1989,04:01:00,94345,11.996,False,Finance
337,Earl,Male,1/5/2000,05:46:00,91344,4.035,True,Sales
358,Scott,Male,12/17/2011,03:45:00,90429,4.450,False,Product
371,Larry,Male,8/27/2003,01:00:00,91133,5.140,False,Sales
390,Barbara,NaN,4/26/2001,12:22:00,94493,13.443,True,Sales
395,Kathy,Female,11/25/2001,09:55:00,93753,7.094,True,Sales
405,Sharon,Female,3/9/2014,04:39:00,91522,7.564,False,Finance
481,NaN,Female,4/27/2013,06:40:00,93847,1.085,True,Business Development
499,Barbara,NaN,12/10/1980,11:04:00,90187,14.764,True,Distribution
509,Ann,Female,11/4/1984,12:17:00,90719,6.220,False,Business Development
535,Louise,Female,9/18/1981,05:47:00,91462,8.205,False,Marketing
545,Julie,NaN,2/4/1999,05:35:00,93302,9.048,True,Product
566,Johnny,Male,1/8/1995,01:35:00,91124,12.986,True,Distribution
568,Susan,Female,4/18/1986,09:31:00,90829,19.142,False,Marketing
598,Frances,Female,7/21/2001,02:34:00,91996,11.506,False,Product
600,Barbara,NaN,12/20/1994,10:09:00,90556,15.749,True,Distribution
636,Marilyn,Female,7/2/1984,04:06:00,92430,2.924,False,Engineering
658,Jessica,Female,10/19/1986,09:58:00,90285,13.591,True,Client Services
686,Paul,NaN,2/18/2011,12:23:00,91462,18.704,False,Finance
688,Brian,Male,4/7/2007,10:47:00,93901,17.821,True,Legal
693,Alice,Female,10/16/1995,09:19:00,92799,2.782,False,Sales
701,Robin,NaN,9/16/2005,01:26:00,93201,11.712,True,Legal
748,Martha,Female,7/17/1997,11:11:00,94963,19.626,True,Business Development
801,Ryan,Male,4/15/1988,05:18:00,91109,17.499,True,Human Resources
848,Bobby,Male,6/5/1984,07:40:00,93368,2.880,True,Product
880,Robert,NaN,5/25/2007,03:17:00,90998,8.382,False,Finance
887,David,Male,12/5/2009,08:48:00,92242,15.407,False,Legal
891,Timothy,Male,8/25/1991,10:37:00,92587,8.475,False,Finance
893,Frank,Male,7/27/2013,04:32:00,91406,5.681,True,Business Development
932,Bonnie,Female,12/23/2008,09:26:00,90427,2.010,True,Client Services
945,Gerald,NaN,4/15/1989,12:44:00,93712,17.426,True,Distribution
960,Stephen,Male,10/29/1989,11:34:00,93997,18.093,True,Business Development
966,Louis,Male,8/16/2011,05:19:00,93022,9.146,True,Human Resources
975,Susan,Female,4/7/1995,10:05:00,92436,12.467,False,Sales
982,Rose,Female,4/6/1982,10:43:00,91411,8.639,True,Human Resources

In [ ]:
# ORDER By
df[df['Salario'].between(94000,95000)].sort_values(by='Salario')

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
240,Phyllis,NaN,4/21/1984,07:05:00,94088,19.107,False,Distribution
131,Rebecca,Female,7/10/1992,12:23:00,94231,17.517,False,Product
276,Christine,Female,7/3/1989,04:01:00,94345,11.996,False,Finance
235,Norma,Female,2/11/2015,11:44:00,94393,3.643,True,Engineering
390,Barbara,NaN,4/26/2001,12:22:00,94493,13.443,True,Sales
748,Martha,Female,7/17/1997,11:11:00,94963,19.626,True,Business Development
50,Nancy,Female,9/23/2000,08:05:00,94976,13.830,True,Engineering

In [ ]:
df.sort_values(by="bonificación %", ascending=False)

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
488,Robert,Male,3/11/2007,11:20:00,135882,19.944,False,Legal
150,Sean,Male,5/4/1996,08:59:00,135490,19.934,False,Marketing
335,Robert,Male,11/18/2014,05:00:00,85799,19.930,False,Finance
830,Michael,Male,8/31/2002,01:20:00,81206,19.908,True,Distribution
348,Philip,Male,8/2/1989,11:21:00,129968,19.897,False,Finance
...,...,...,...,...,...,...,...,...
746,Gloria,Female,8/19/2004,10:31:00,46602,1.027,True,Business Development
527,Helen,NaN,12/2/1993,01:42:00,45724,1.022,False,Product
912,Joe,Male,12/8/1998,10:28:00,126120,1.020,False,NaN
652,Willie,Male,12/5/2009,05:39:00,141932,1.017,True,Engineering
217,Douglas,Male,9/3/1999,04:00:00,83341,1.015,True,Client Services

## Duplicados

In [ ]:
df[df["Nombre"].duplicated()]

,Nombre,Sexo,Fecha de inicio,Hora del último inicio de sesión,Salario,bonificación %,Alta dirección,Equipo
23,NaN,Male,6/14/2012,04:19:00,125792,5.042,True,NaN
25,NaN,Male,10/8/2012,01:12:00,37076,18.576,True,Client Services
32,NaN,Male,8/21/1998,02:27:00,122340,6.417,True,NaN
34,Jerry,Male,1/10/2004,12:56:00,95734,19.096,False,Client Services
39,NaN,Male,1/29/2016,02:33:00,122173,7.797,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,06:09:00,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,06:30:00,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39:00,96914,1.421,False,Product
998,Larry,Male,4/20/2013,04:45:00,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,06:24:00,129949,10.169,True,Sales

# Nuevo dataframe con personas.csv
- Cargar
- Revisar info y describe
- Dar formato
- Limpiar
- Graficas de los campos interesantes

In [ ]:
df = pd.read_csv('personas.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Indice           100000 non-null  int64
 1   Edad             100000 non-null  int64
 2   Género           90000 non-null   object
 3   Ingresos         100000 non-null  int64
 4   Altura           100000 non-null  float64
 5   Ciudad           90000 non-null   object
 6   Nivel_Educación  77563 non-null   object
 7   Hijos            100000 non-null  int64
dtypes: float64(1), int64(4), object(3)
memory usage: 6.1+ MB

In [ ]:
# mofificar cabecera
df.columns=['indice','edad','genero','ingresos','altura','ciudad','nivel_educacion','num_hijos']
df

,indice,edad,genero,ingresos,altura,ciudad,nivel_educacion,num_hijos
0,0,82,F,62297,1.96,Phoenix,NaN,0
1,1,15,F,38674,1.83,New York,PhD,4
2,2,166,NaN,-1886,1.87,NaN,Bachelors,-5
3,3,95,M,29759,1.77,Chicago,PhD,4
4,4,36,M,99938,1.78,Phoenix,PhD,5
...,...,...,...,...,...,...,...,...
99995,99995,65,M,62403,1.95,Houston,NaN,1
99996,99996,74,F,29457,1.81,New York,Master,3
99997,99997,27,M,48147,1.88,Houston,Master,5
99998,99998,39,M,92826,1.82,New York,NaN,2
99999,99999,62,M,74762,1.90,Houston,PhD,3

In [ ]:
df = df.dropna(subset=["genero","ciudad","nivel_educacion"]).reset_index(drop=True)
df

,indice,edad,genero,ingresos,altura,ciudad,nivel_educacion,num_hijos
0,1,15,F,38674,1.83,New York,PhD,4
1,3,95,M,29759,1.77,Chicago,PhD,4
2,4,36,M,99938,1.78,Phoenix,PhD,5
3,6,29,F,75609,1.59,Chicago,Master,4
4,12,70,M,94801,1.75,Houston,Master,4
...,...,...,...,...,...,...,...,...
67558,99993,5,F,64278,1.75,Houston,Master,0
67559,99994,29,F,78430,1.69,Houston,Master,0
67560,99996,74,F,29457,1.81,New York,Master,3
67561,99997,27,M,48147,1.88,Houston,Master,5
67562,99999,62,M,74762,1.90,Houston,PhD,3